$completed-color: #9be494 !default;
$pending-color: #31f7ed !default;
$urgent-color: #ff8484 !default;

$dark-completed-color: #216921 !default;
$dark-pending-color: #0606ad !default;
$dark-urgent-color: #ff0000 !default;