@import './mixins';
@import './variables_';
.taskList{
    .taskItem{
        display: flex;
        min-width: 260px;
        justify-content: space-between;
        padding: 10px 5px 5px 5px;
        margin-top: 5px;
        &.completed{
            @include taskCode($green);
        }
        &.pending{
            @include taskCode($blue);
        }
        &.urgent{
            @include taskCode($red);
        }
    }
}

