@import './mixins';
@import './variables_';
.taskList{
    .taskItem{
        display: flex;
        min-width: 260px;
        justify-content: space-between;
        padding: 10px 5px 5px 5px;
        margin-top: 5px;
        &.completed{
            @include taskCode($completed-color, true);
        }
        &.pending{
            @include taskCode($pending-color);
        }
        &.urgent{
            @include taskCode($urgent-color);
        }
        .date-due{
            border: 2px solid black;
        }
    }
}

.dark{
    .taskList{
        .taskItem{
            &.completed{
                @include taskCode($dark-completed-color, true);
            }
            &.pending{
                @include taskCode($dark-pending-color);
            }
            &.urgent{
                @include taskCode($dark-urgent-color);
            }
            .date-due{
                border: 2px solid white;
            }
        }
    }
}

