@import './styles/variables_'; 
.container-App{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    &.dark {
        color : white;
        background-color: black;
    } 
}